# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.turbo
.npmrc
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# TypeScript
*.tsbuildinfo

# production
/build
/public/sw.js

# misc
.DS_Store
*.pem
.cursor/scratchpad.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# tldr
.tldr

# eslint
.eslintcache

# certificates
certificates

next-env.d.ts
# claude
.claude

# unlighthouse
.unlighthouse/

# storybook
*storybook.log

# local design docs
DESIGN_SYSTEM.md
PLAN.md
